/*Name - Garvit Aneja*/
/*Registration Number - 24BKT0001*/

body {
    background-color: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 600px;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    table-layout: fixed;            
}

table, th, td {
    border: 2px solid black;
}

th, td {
    width: 120px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;         
    padding: 8px;
    overflow: hidden;
}

th {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}

td:first-child {
    font-weight: bold;
    background-color: #75daf4;
}

.free {
    background-color: palegreen;
}

.lunch {
    background-color: wheat;
}

.ComputerArchitecture {
    background-color: lightpink;
}

.DAA {
    background-color: palegoldenrod;
}

.QSS {
    background-color: rgb(231, 25, 121);
}

.Probability {
    background-color: lavender;
}

.german {
    background-color: darkseagreen;
}

.TOC {
    background-color: mistyrose;
}

.MPMC {
    background-color: rgb(255, 178, 84);
}

.web {
    background-color: silver;
}

a:link {
    color: #003366;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: #777;
    background-color: black;
    border-radius: 4px;
    padding: 2px 4px;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: crimson;
}